.projects-sec {
  padding: 20px 0;
  overflow: hidden;
}

.projects {}

.project {
  &.animated {
    .project_draw {
      //opacity: 1;
      transform: translate3d(0,0,0);
      &--1 {
        .bg {
          //transition: all 0s ease;
        }
        .stick-1 {
          opacity: 1;
          transition: all 0.6s ease;
          transform: translate3d(0,0,0) rotate(0);
        }
        .stick-2 {
          opacity: 1;
          transition: all 0.6s ease;
          transform: translate3d(0,0,0);
        }
        .stick-3 {
          opacity: 1;
          transition: all 0.6s ease;
          transform: translate3d(0,0,0) skew(0.1deg, -0.4deg);
        }
        .stick-4 {
          opacity: 1;
          transition: all 0.6s ease;
          transform: rotate(0deg) translate3d(0,0,0) skew(0.1deg, -0.2deg);
        }
        .stick-5 {
          opacity: 1;
          transition: all 0.6s ease;
          transform: translate3d(0,0,0);
        }
        .stick-6 {
          opacity: 1;
          transition: all 0.6s ease;
          transform: translate3d(0,0,0);
        }
        .square-red {
          opacity: 1;
          transition: all 0.6s ease 0.3s;
          transform: translate3d(0,0,0) scale(1);
        }
        .square-blue {
          opacity: 1;
          transition: all 0.6s ease 0.6s;
          transform: translate3d(0,0,0) scale(1);
        }
        .square-yellow {
          opacity: 1;
          transition: all 0.6s ease 0.6s;
          transform: translate3d(0,0,0) scale(1);
        }
      }
    }
  }
}

.project_title {
  margin-bottom: 20px;
  font-size: 24px;
}

.project_draw {
  position: relative;
  width: 75vh;
  height: 75vh;
  box-shadow: 0 0 8px 0 #000;
  //opacity: 0;
  transform: translate3d(0, 25px, 0);
  transition: all 0.5s ease;
  &--1 {
    [class*='stick'] {
      pointer-events: none;
      opacity: 1;
      transition: all 0.3s ease;
      z-index: 2;
    }
    [class*='square'] {
      pointer-events: none;
      opacity: 1;
      transition: all 0.3s ease;
      z-index: 1;
    }
    .bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 1;
      background: #f8f3ed;
      transition: all 0.3s ease 0.3s;
      z-index: 0;
    }
    .stick-1 {
      // 26*100%
      width: 2.439062%;
      height: 100%;
      top: 0;
      // 242
      left: 23.6328125%;
      background: #021a1c;
      opacity: 0;
      transform-origin: 50% 35%;
      transform: rotate(20deg) translate3d(-1800%, -35%, 10px);
    }
    .stick-2 {
      // 305
      top: 29.78515625%;
      left: 0;
      // 242*55
      width: 23.6328125%;
      height: 4.371094%;
      opacity: 0;
      transform: translate3d(-110%, 0px, 0);
      background: #082425;
    }
    .stick-3 {
      // 257
      bottom: 25.097656%;
      left: 0;
      // 241 * 28
      width: 23.635156%;
      height: 2.636719%;
      background: #030e10;
      opacity: 0;
      transform: translate3d(-110%, 0px, 0) skew(0.1deg, -0.4deg);
    }
    .stick-4 {
      top: 71.965625%;
      right: 0;
      // 784 * 28
      width: 76.3625%;
      height: 2.63671875%;
      background: #030d0f;
      opacity: 0;
      transform-origin: 100% 50%;
      transform: rotate(-20deg) translate3d(30%, 300%, 0) skew(0.1deg, -0.2deg);
    }
    .stick-5 {
      // 58 
      right: 5.6640625%;
      bottom: 0;
      // 24 * 264
      width: 2.24375%;
      height: 25.78125%;
      background: #000b0d;
      opacity: 0;
      transform: translate3d(0, 110%,0);
    }
    .stick-6 {
      // 114
      bottom: 11.1328125%;
      right: 0;
      // 58 * 33
      width: 5.6640625%;
      height: 3.022656%;
      background: #000908;
      opacity: 0;
      transform: translate3d(110%, 0px, 0);
    }
    .square-red {
      top: 0;
      right: 0;
      width: 74.123437%;
      height: 72.265625%;
      background: #c22c2d;
      opacity: 0;
      transform: translate3d(50%, -50%, 0) scale(0.3);
    }
    .square-blue {
      //242*260
      bottom: 0;
      left: 0;
      width: 23.6328125%;
      height: 25.390625%;
      background: #395898;
      opacity: 0;
      transform: translate3d(-50%, 50%, 0) scale(0.5);
    }
    .square-yellow {
      //58*114
      bottom: 0;
      right: 0;
      width: 5.6640625%;
      height: 11.13281%;
      background: #f7df01;
      opacity: 0;
      transform: translate3d(50%, 50%, 0) scale(0.3);
    }
    &:hover {
      .project_draw-original {
        opacity: 1;
      }
      .project_info-icon, .project_info-headphones {
        opacity: 1;
      }
    }
  }
}

.project_draw-original {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s ease;
  z-index: 1;
}

.project_draw-elements {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 1;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: all 1.5s ease;
  transform: translate3d(0,0,0);
  z-index: 0;
  &>* {
    position: absolute;
  }
}

.project_draw-interface {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.project_descr {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 65vh;
  height: auto;
  padding: 10px 15px;
  font-size: 16px;
  opacity: 0;
  transition: all 0.3s ease;
  transform: translate3d(0,0,0);
  pointer-events: none;
  background: #fff;
  z-index: 2;
}

.project_info-icon {
  position: absolute;
  top: 2vh;
  left: 2vh;
  width: 6vh;
  max-width: 50px;
  min-width: 30px;
  height: 6vh;
  max-height: 50px;
  min-height: 30px;
  padding: 5px;
  border-radius: 50%;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
  opacity: 0;
  transition: all 0.3s ease;
  background: #fff;
  svg {
    display: block;
    width: 100%;
  }
  &:hover {
    opacity: 0!important;
    &+.project_descr {
      opacity: 1;
      transform: translate3d(1vw,1vw,0);
    }
  }
}

.project_info-headphones {
  position: absolute;
  top: 9vh;
  left: 2vh;
  width: 6vh;
  max-width: 50px;
  min-width: 30px;
  height: 6vh;
  max-height: 50px;
  min-height: 30px;
  padding: 5px 6px;
  border-radius: 50%;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
  opacity: 0;
  transition: all 0.3s ease;
  cursor: pointer;
  background: #fff;
  svg {
    display: block;
    width: 100%;
  }
  &.play {
    box-shadow: 0 0 3px 0 #395897;
    background: #395897;
  }
}